
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{

    font-family:'Poppins', sans-serif;

}

.container{
    width:800px;
    margin:6rem auto;

}


.logo{
    width: 50%;
    margin: 3rem;
}

.container .list{
    padding: 1.5rem;
    background-color: #d3d3d385;
    width: 80%;
    border-radius:20px;
}


.add_task>input {
    padding: 0.5rem;
    border: 1px solid #d3d3d385;
    border-radius: 0.5rem;
    width:400px;
    margin-right: 1rem;
}

.add_task>button {
    padding: 0.5rem 1rem;
    border: 1px solid #d3d3d385;
    border-radius: 0.5rem;
}


ul>.item{
    line-height: 2.5rem;
    border-bottom: 1px solid lightgray;

}

.sbarrato{
    text-decoration: line-through;
    color:red;
}


.empty_tasks {
    padding: 1.5rem;
    background-color: #d3d3d385;
    width: 80%;
    border-radius:20px;
    color:#00E165;
    font-weight: bold;

}

    

